/dts-v1/;

#include "mt7621.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "mediatek,mt7621-pgb-m1", "mediatek,mt7621-soc";
	model = "PGB-M1";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <20>;

		reset {
			label = "reset";
			gpios = <&gpio 7 0>;
			linux,code = <KEY_RESTART>;
		};
	};
	gpio_export {
		compatible = "gpio-export";
		#size-cells = <0>;

		power_usb3 {
			gpio-export,name = "power_usb3";
			gpio-export,output = <1>;
			gpios = <&gpio 8 GPIO_ACTIVE_HIGH>;
		};

		power_lte {
			gpio-export,name = "power_lte";
			gpio-export,output = <1>;
			gpios = <&gpio 6 GPIO_ACTIVE_HIGH>;
		};
/*
		power_nvme {
			gpio-export,name = "power_nvme";
			gpio-export,output = <1>;
			gpios = <&gpio 0 GPIO_ACTIVE_HIGH>;
		};
*/
	};
	jffs2-concat {
		compatible = "mtd-concat";
		devices = <&jffsconcat0 &jffsconcat1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "jffs2";
				reg = <0x0 0x3600000>;
			};
		};
	};
};

&eth {
        status = "okay";

        gmac0: mac@0 {
                compatible = "mediatek,eth-mac";
                reg = <0>;
                phy-mode = "trgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                        pause;
                };
        };

        gmac1: mac@1 {
                compatible = "mediatek,eth-mac";
                reg = <1>;
                phy-mode = "rgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                        pause;
                };
        };

        mdio: mdio-bus {
                #address-cells = <1>;
                #size-cells = <0>;

                phy1f: ethernet-phy@1f {
                        reg = <0x1f>;
                        phy-mode = "rgmii";
                };
        };
};

&gsw {
        mediatek,mdio = <&mdio>;
        mediatek,portmap = "llllw";
        mediatek,mcm;
	mt7530,direct-phy-access;

        resets = <&rstctrl 2>;
        reset-names = "mcm";

        port5: port@5 {
                compatible = "mediatek,mt753x-port";
                reg = <5>;
                phy-mode = "rgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                };
        };

        port6: port@6 {
                compatible = "mediatek,mt753x-port";
                reg = <6>;
                phy-mode = "trgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                };
        };

        mdio-bus {
                #address-cells = <1>;
                #size-cells = <0>;
        };
};

&hnat {
        mtketh-wan = "eth1";
        mtketh-ppd = "vlan1";
		mtketh-lan = "vlan1";
        ext-devices = "rai0", "ra0", "rai1", "ra1", "rai2", "ra2", "rai3", "ra3", "apclii0", "apcli0";
        mtketh-max-gmac = <2>;
        status = "okay";
};

&nand {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
			partition@0 {
			label = "Bootloader";
			reg = <0x00000 0xe0000>;
		};
			partition@E0000 {
			label = "nvram";
			reg = <0xE0000 0x100000>;
		};
			factory: partition@1E00000 {
			label = "Factory";
			reg = <0x1E0000 0x100000>;
		};
			factory2: partition@2E0000  {
			label = "Factory2";
			reg = <0x2E0000 0x100000>;
		};
		partition@3E0000 {
			label = "Kernel";
			reg = <0x3E0000 0x2300000>;
		};
			jffsconcat0: partition@26E0000 {
			label = "jffsconcat0";
			reg = <0x26E0000 0xF00000>;
		};
			partition@35E0000 {
			label = "Kernel2";
			reg = <0x35E0000 0x2300000>;
		};
			jffsconcat1: partition@58E0000 {
			label = "jffsconcat1";
			reg = <0x58E0000 0x2700000>;
		};
	};
};

&i2c {
        status = "okay";

        pcf8563: rtc@51 {
            status = "okay";
            compatible = "nxp,pcf8563";
            reg = <0x51>;
        };
};

&pinctrl {
	state_default: pinctrl0 {

		uart2 {
			mtk,group = "uart2";
			mtk,function = "gpio";
		};

		uart3 {
			mtk,group = "uart3";
			mtk,function = "gpio";
		};

		jtag {
			mtk,group = "jtag";
			mtk,function = "gpio";
		};

		wdt {
			mtk,group = "wdt";
			mtk,function = "gpio";
		};
	};
};

&uartlite2 {
	status = "okay";
};

&pcie {
	status = "okay";
};

&xhci {
	status = "okay";
};
