config WLAN_VENDOR_MEDIATEK
	bool "MediaTek devices"
	default y
	---help---
	  If you have a wireless card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about  cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if WLAN_VENDOR_MEDIATEK
source "drivers/net/wireless/mediatek/mt7601u/Kconfig"

menuconfig WIFI_DRIVER
	bool "WiFi Driver Support"

if WIFI_DRIVER

choice
	prompt "Choose First WiFi Interface"
	config FIRST_IF_NONE
	bool "None"

	config FIRST_IF_MT7603E
	bool "MT7603E"
	select WIFI_MT_MAC
	select MT_MAC

	config FIRST_IF_MT7615E
	bool "MT7615E"
	select WIFI_MT_MAC
	select MT_MAC

	config FIRST_IF_MT7622
	bool "MT7622"
	select WIFI_MT_MAC
	select MT_MAC

	config FIRST_IF_MT7626
	bool "MT7626"
	select WIFI_MT_MAC
	select MT_MAC

	config FIRST_IF_MT7915
	bool "MT7915"
	select WIFI_MT_MAC
	select MT_MAC

endchoice

choice
	prompt "Choose Second WiFi Interface"
	config SECOND_IF_NONE
	bool "None"

	config SECOND_IF_MT7615E
	bool "MT7615E"
	select WIFI_MT_MAC
	select MULTI_INF_SUPPORT

endchoice

choice
	prompt "Choose Third WiFi Interface"
	config THIRD_IF_NONE
	bool "None"

	config THIRD_IF_MT7615E
	bool "MT7615E"
	select WIFI_MT_MAC
	select MULTI_INF_SUPPORT

endchoice

config  RT_FIRST_CARD
        int
        depends on ! FIRST_IF_NONE
		default 7615 if FIRST_IF_MT7615E
        default 7622 if FIRST_IF_MT7622
        default 7622 if FIRST_IF_MT7626
        default 7915 if FIRST_IF_MT7915
        default 7603 if FIRST_IF_MT7603E

config  RT_SECOND_CARD
        int
        depends on ! SECOND_IF_NONE
        default 7615 if SECOND_IF_MT7615E

config  RT_THIRD_CARD
        int
        depends on ! THIRD_IF_NONE
        default 7615 if THIRD_IF_MT7615E

config  RT_FIRST_IF_RF_OFFSET
        hex
        depends on !FIRST_IF_NONE
        default 0xc0000 if FIRST_IF_MT7915
		default 0x0 if FIRST_IF_MT7615E
		default 0x0 if FIRST_IF_MT7603E

config  RT_SECOND_IF_RF_OFFSET
        hex
        depends on !SECOND_IF_NONE
        default 0xc8000 if !SECOND_IF_MT7615E
		default 0x4000 if SECOND_IF_MT7615E

config  RT_THIRD_IF_RF_OFFSET
        hex
        depends on !THIRD_IF_NONE
        default 0xd0000
if (FIRST_IF_MT7615E || SECOND_IF_MT7615E)
menu "MediaTek MT7615E PCIe Wireless driver"
source "drivers/net/wireless/mediatek/mt7615/5.1.0.0/mt_wifi/embedded/Kconfig"
endmenu
endif

if (FIRST_IF_MT7603)
menu "MediaTek MT76x3 PCIe Wireless driver"
source "drivers/net/wireless/mediatek/mt7603/4.1.2.1/mt7603_wifi/Kconfig"
endmenu
endif

if (FIRST_IF_MT7915)
menu "MediaTek MT7915 PCIe Wireless driver"
source "drivers/net/wireless/mediatek/mt7915/7.4.0.0/mt_wifi/embedded/Kconfig"
endmenu
endif

endif # WIFI_DRIVER
endif # WLAN_VENDOR_MEDIATEK
