/* Copyright (c) 2015 - 2016, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *
 */

#include "qcom-ipq4019-ap.dk04.1.dtsi"

/ {
	model = "ASUS. RT-AC82U";

	chosen {
		bootargs-append = " ubi.mtd=UBI_DEV";
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x08000000>; /* 128MB */
	};

	soc {
		rng@22000 {
			status = "ok";
		};

		ess-psgmii@98000 {
			status = "ok";
		};

		wifi_glb_tcsr: tcsr@1949000 {
			status = "ok";
		};

		tcsr: tcsr@194b000 {
			status = "ok";
		};

		ess_tcsr: ess_tcsr@1953000 {
			status = "ok";
		};

		wifi_noc_memtype_m0_m2_tcsr: tcsr@1957000 {
			status = "ok";
		};

		ess-switch@c000000 {
			status = "ok";
		};

		edma@c080000 {
			status = "ok";
		};

		pcie0: pci@40000000 {
			status = "ok";
			perst-gpio = <&tlmm 38 GPIO_ACTIVE_LOW>;
		};

		wifi1: wifi@a800000 {
			status = "disabled";
		};

		gpio_keys {
			status = "disabled";
		};
	};
};

&nand {
	status = "ok";

	nand@0 {
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "Bootloader";
				reg = <0x000000000000 0x000000400000>;
				read-only;
			};
			partition@400000 {
				label = "UBI_DEV";
				reg = <0x000000400000 0x000007C00000>;
			};
		};
	};
};

