menu "ASUS Miscellaneous options"

config  SINGLE_SKU_IN_DRIVER
        bool "Single sku in driver, not file"
        default n

#config  MTD_JFFS2_LEN
#        hex "MTD JFFS2 Partition Length (Unit:Bytes)"
#        default 0x0

config  MODEL_RTACRH18
        bool "RT-ACRH18"
        default n

config  MODEL_RT4GAX56
        bool "RT-4GAX56"
        default n

config  MODEL_RTAX53U
        bool "RT-AX53U"
        default n

config  MODEL_RTAX54
        bool "RT-AX54"
        default n

config  MODEL_RT4GAC86U
        bool "4G-AC86U"
        default n

config  MODEL_RTAC85U
        bool "RT-AC85U"
        default n

config  MODEL_RTAC85P
        bool "RT-AC85P"
        default n

config  MODEL_R6800
        bool "R6800"
        default n

config  MODEL_RMAC2100
        bool "RMAC2100"
        default n

config  MODEL_PGBM1
        bool "PGBM1"
        default n

config  MODEL_JCGQ10PRO
        bool "JCG-Q10PRO"
        default n

config  MODEL_H3CTX1801
        bool "H3C-TX1801"
        default n

config  MODEL_RMAX6000
        bool "Redmi AX6000"
        default n

config  MODEL_SWRT360T7
        bool "360T7"
        default n

config MODEL_PANTHERA
		bool "Panther porting on PantherA RFB"
        default n

config MODEL_PANTHERB
		bool "Panther porting on PantherB RFB"
        default n

config MODEL_CHEETAH
		bool "Cheetah porting on Cheetah RFB"
        default n

config MODEL_TUFAX4200
		bool "Panther TUF-AX4200/TUF-AX4200Q"
        default n

config MODEL_TUFAX6000
		bool "Panther TUF-AX6000"
        default n

config MODEL_RTAX59U
		bool "Panther RT-AX59U"
        default n

config MODEL_PRTAX57_GO
	bool "Cheetah PRT-AX57_GO"

config MODEL_RTAX52
	bool "Cheetah RT-AX52"

config MODEL_RTAX57M
	bool "Cheetah RT-AX57M"

config  ASUS_EXT
        bool "ASUS_EXT"
        default n

config  MTK_NAND_BLOCK2
        bool "For MTK nand using 2 block"
        default n

config  FIBOCOM_FG621
        bool "LTE module FIBOCOM FG621"
        default n

endmenu        
