

config NET_VENDOR_LANTIQ
        bool "Lantiq network devices"
        default y
        depends on  SOC_XWAY || SOC_GRX500
        ---help---
          If you have a network (Ethernet) card belonging to this class, say Y
          and read the Ethernet-HOWTO, available from
          <http://www.tldp.org/docs.html#howto>.

if NET_VENDOR_LANTIQ

config LANTIQ_VRX318
	tristate "VRX318 SmartPHY PCIe EP driver"
	depends on PCIE_LANTIQ
	default n
	---help---
	Supported VRX318 smartPHY PCIe EP

config LANITQ_VRX318_PCIE_SWITCH_DSL_BONDING
	tristate "VRX318 SmartPHY DSL bonding with PCIe Switch"
	depends on LANTIQ_VRX318
	default n
	---help---
	Supported VRX318 smartPHY PCIe DSL Bonding with PCIe switch

config LANTIQ_ETH_FRAMEWORK
	bool "Lantiq framework for ethernet drivers"
	depends on LANTIQ
	default n
	---help---
	Lantiq framework for ethernet drivers

config LTQ_ETH_XRX500
        tristate "Lantiq Ethernet driver for XRX500 series"
        depends on LANTIQ && SOC_GRX500 && LTQ_ETHSW_API && (LTQ_CBM || LTQ_DATAPATH_LIBRARY)
        default n
        ---help---
        Lantiq Ethernet driver for XRX500 series.

config INTEL_PON_HGU_VUNI 
        tristate "Intel PON HGU vUNI driver"
        depends on (LTQ_DATAPATH || PRX300_CQM)
        ---help---
        Intel PON HGU vUNI driver.

config INTEL_GINT_ETH
        tristate "INTEL G.INT Ethernet driver"
        depends on (LTQ_DATAPATH || PRX300_CQM)
        default n
        ---help---
        INTEL G.INT Ethernet driver.

config XRX500_ETH_DRV_THERMAL_SUPPORT
	bool "ThermaL support in the ethernet driver"
	depends on LTQ_ETH_XRX500 && THERMAL
	---help---
	Thermal support in the Ethernet driver of XRX500 series

config SW_ROUTING_MODE
        bool "Enable the SW routing mode in ethernet driver"
	depends on LTQ_ETH_XRX500
	default y
        ---help---
        Lantiq Ethernet driver routing mode

config HAPS_CPU_LOOPBACK_TEST 
        bool "Enable CPU enqueue and dequeue loopback"
	depends on LTQ_ETH_XRX500
	default n
        ---help---
        Lantiq Ethernet driver CPU Enqueue and Dequeue test

config XRX500_PHY_FW
	tristate "XRX500 PHY firmware loader"
	depends on SOC_GRX500
	default n
        ---help---
        GPHY FW loader on GRX500 platforms

config INTEL_UMT_CQEM_MODE
        bool "Intel UMT in CQEM mode"
        depends on PRX300_CQM
        help
          In cqem mode, UMT (User Message Transfer) HW
          is able to support max three UMT port.
          CBM port and DMA channels that associated with
          the UMT port can be configurable.

config LTQ_TOE_DRIVER
	bool "Enable the TOE (TCP Offload Engine) driver for XRX500"
        depends on LTQ_ETH_XRX500
        default n
        ---help---
        Lantiq TOE (TCP Offload Engine) driver for XRX500 series.

config INTEL_XPCS
	tristate "Intel XPCS driver support"
        select GENERIC_PHY
	---help---
	  This driver provides support for Xpcs for 10G.


source "drivers/net/datapath/Kconfig"
source "drivers/net/ethernet/lantiq/e160/Kconfig"
source "drivers/net/ethernet/lantiq/switch-api/Kconfig"
source "drivers/net/ethernet/lantiq/cqm/Kconfig"
source "drivers/net/ethernet/lantiq/tmu/Kconfig"
source "drivers/net/ethernet/lantiq/ppa/Kconfig"
source "drivers/net/ethernet/lantiq/qos_mgr/Kconfig"
source "drivers/net/ethernet/lantiq/directconnect_dp/Kconfig"
endif # NET_VENDOR_LANTIQ
