menuconfig INTEL_DATAPATH_HAL_GSWIP31
	bool "Datapath HAL_GSWIP31"
	default y
	depends on INTEL_DATAPATH && PRX300_CQM
	---help---
	  Datapath Lib is to provide common rx/tx wrapper Lib without taking
	  care of much HW knowledge and also provide common interface for legacy
	  devices and different HW like to CBM or LRO.
	  Take note: All devices need to register to datapath Lib first

if INTEL_DATAPATH_HAL_GSWIP31
config INTEL_DATAPATH_HAL_GSWIP31_MIB
	bool "Datapath aggregated mib support"
	depends on INTEL_DATAPATH_HAL_GSWIP30 && SOC_GRX500 && LTQ_TMU && LTQ_PPA_TMU_MIB_SUPPORT
	default y
	---help---
	  It is to aggregate GSWIP-L/R, TMU and driver's MIB counter

config INTEL_DATAPATH_QOS_HAL
	bool "datapath QOS hal"
	default y
	depends on (LTQ_PPV4_QOS || LTQ_PPV4)
endif
