.internet-link{
    width: 100px;
    position: relative;
}
.internet-link-line{    
    height: 4px;
    background-color: aquamarine;
}
.internet-link-disconnect{
    width: 25%;
    background-color: red;
}

.text-color-content{
    color: #9c9c9c;
}
.btn-color-default{
    background-color: #31D2F2;
    border-color: #31D2F2;
    color: #000;
}
.btn-outline-color-default{
    /* background-color: #31D2F2; */
    border-color: #31D2F2;
    color: #31D2F2;
}
.btn-check:checked+.btn-outline-color-default{
    background-color: #31D2F2;
    border-color: #31D2F2;
    color: #fff;
}
.btn-outline-color-default:active, 
.btn-outline-color-default:hover{
    color: #fff;
    background-color: #31D2F2;
    border-color: #31D2F2;
}
.form-check-input:checked{
    background-color: #31D2F2;
    border-color: #31D2F2;
}
.content-color-title{
    color:#30E4FF;
}

.form-select{
    background-color: transparent;
    color: #25CFF2;
    border-color: #25CFF2;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2331D2F2' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
.form-select option{
    background-color: rgba(37,207,242,.3);
    color: #000;
}
.form-select:focus{
    border-color: #71e7ff;
    box-shadow: none;
}
input[class~="form-control"],
textarea[class~="form-control"],
textarea[class~="form-control"]:focus{
    background-color: transparent;
    color: #31D2F2;
    border-color: #25CFF2;
}
/* width < 576x */
@media (max-width: 576px) {
    .page-title{
        font-size: 20px;
        line-height: 20px;

    }

    .internet-link{
        width: 50px;
    }
    .internet-link-disconnect{
        width: 15%;
        background-color: red;
    }
}





/* INTERNET LINK ANIMATION */
.test{
    animation: single 1s linear infinite;
}

.test5{
    offset: path("M 100 0 L 75 0  M 100 0 ") ;
      animation: move .8s linear infinite;
      position: absolute;

}
.test6{
    offset: path("M 75 0 L 50 0  M 75 0 z") ;
      animation: move .8s linear infinite;
      position: absolute;
    
}
.test7{
    offset: path("M 50 0 L 25 0  M 50 0 z") ;
      animation: move .8s linear infinite;
      position: absolute;

}
.test8{
    offset: path("M 25 0 L 0 0  M 25 0 z") ;
      animation: move .8s linear infinite;
      position: absolute;

}
@keyframes move {
0% {
offset-distance: 0%;
}
100% {
offset-distance: 100%;
}
}
@keyframes single {
0% {
left: 100%;
}
100% {
left: 0%;
}
}