Kconfig.kernel
Kconfig.versions
.kernel_config_md5
.config
.config.old
*~
*.o
*.a
*.d
.tmp_*
*.ko
*.cmd
*.tmp
*.ver
modules.order
modules
*.mod.c
.cache.mk
*.scd
*.logprep_ts
logmacros.h
logmacros.c
build_*
**/BCLSockServer/BCLSockServer
**/dump_handler/dump_handler
**/dutserver/dutserver
**/drvhlpr/drvhlpr
**/logserver/logserver
