// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ9574 AL02-C18 board device tree source
 *
 * Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "ipq9574-al02-c4.dts"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ9574/AP-AL02-C18";
	compatible = "qcom,ipq9574-ap-al02-c18", "qcom,ipq9574-al02", "qcom,ipq9574";
	interrupt-parent = <&intc>;

	soc {
		pinctrl@1000000 {
			sfp_pins: sfp_pinmux {
				sfp_rx {
					pins = "gpio46";
					function = "rx1";
					bias-disable;
				};

				sfp_tx {
					pins = "gpio60";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
					output-low;
				};
			};
		};

		dp1 {
			reg = <0x3a500000 0x4000>;
			qcom,mactype = <1>;
			qcom,phy-mdio-addr = <30>;
		};

		dp2 {
			qcom,id = <5>;
			reg = <0x3a510000 0x4000>;
			qcom,mactype = <1>;
			qcom,phy-mdio-addr = <8>;
		};

		dp3 {
			qcom,id = <6>;
			reg = <0x3a514000 0x4000>;
			qcom,mactype = <1>;
			qcom,phy-mdio-addr = <0>;
		};

		/delete-node/ dp4;
		/delete-node/ dp5;
		/delete-node/ dp6;

		mdio0:mdio@90000 {
			/delete-property/phy-reset-gpio;

			phy0: ethernet-phy@0 {
				compatible ="ethernet-phy-ieee802.3-c45";
				reg = <8>;
			};
			phy1: ethernet-phy@1 {
				compatible ="ethernet-phy-ieee802.3-c45";
				reg = <0>;
			};
			/delete-node/ ethernet-phy@2;
			/delete-node/ ethernet-phy@3;
			/delete-node/ ethernet-phy@4;
			/delete-node/ ethernet-phy@5;
		};

		ess-instance {
			ess-switch@3a000000 {
				pinctrl-0 = <&sfp_pins>;
				pinctrl-names = "default";
				switch_lan_bmp = <0x22>; /* lan port bitmap */
				switch_mac_mode = <0xe>; /* mac mode for uniphy instance0*/
				bm_tick_mode = <1>; /* bm tick mode */
				tm_tick_mode = <1>; /* tm tick mode */

				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						phy_address = <30>;
						media-type = "sfp"; /* fiber mode */
					};
					/delete-node/ port@1;
					/delete-node/ port@2;
					/delete-node/ port@3;
				};
			};
		};
	};
};
