#
# mcast_helper configuration
#

config MCAST_HELPER_PACKAGE
	tristate "Multicast Helper package enable"
	default n
	help
	  mcast_helper support

config MCAST_HELPER_REG
	tristate "Multicast Helper Register Support"
	default n
	help
	  mcast_helper reg support

config MCAST_HELPER
	tristate "Multicast Helper support"
	default n 
	help
	  mcast_helper support

config MCAST_HELPER_ACL
	tristate "Multicast Helper ACL support"
	default n 
	help
	  mcast_helper ACL support
	
config MCAST_HELPER_M2U
	tristate "Multicast Helper multicast to unicast support"
	default n
	help
	  mcast_helper update multicast to unicast support

