#include "easy350_V1_anywan.dts"
#include <dt-bindings/input/input.h>

/ {
	model = "Netgear Nighthawk RAX40";
	compatible = "intel,easy550_anywan", "intel,easy350_anywan", "lantiq,grx500", "lantiq,xrx500";
/*
	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <100>;

		reset {
			label = "reset";
			gpios = <&gpio0 0 1>;
			linux,code = <KEY_RESTART>;
		};
		wifi {
			label = "wifi";
			gpios = <&gpio1 4 1>;
			linux,code = <KEY_WPS_BUTTON>;
		};
		wps {
			label = "wps";
			gpios = <&gpio0 30 1>;
			linux,code = <KEY_WPS_BUTTON>;
		};
	};
*/
	gpio-leds {
		compatible = "gpio-leds";

		lan1 {
			label = "lan1";
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		};
		lan2 {
			label = "lan2";
			gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		};
		lan3 {
			label = "lan3";
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
		};
		lan4 {
			label = "lan4";
			gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		};
	};

	ssx4@16000000 {
		localbus@0 {
			ranges = <0 0 0x1c00000 0xfffff>;
			nand-parts@0 {
				compatible = "gen_nand","lantiq,nand-xway";
				lantiq,cs = <1>;
				bank-width = <2>;
				reg = <0 0x0 0x100000>;
				#address-cells = <1>;
				#size-cells = <1>;
				nand-ecc-mode = "soft";
				nand-ecc-algo = "bch";
				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;
				partition@0 {
					label = "uboot";
					reg = <0x000000 0x100000>;
				};
				
				partition@100000 {
					label = "ubootconfigA";
					reg = <0x100000 0x40000>;
				};
				
				partition@140000 {
					label = "ubootconfigB";
					reg = <0x140000 0x40000>;
				};
				
				partition@180000 {
					label = "gphyfirmware";
					reg = <0x180000 0x40000>;
				};

				partition@1c0000 {
					label = "calibration";
					reg = <0x1c0000 0x100000>;
				};

				partition@2c0000 {
					label = "system_sw";
					reg = <0x2c0000 0xf600000>;
				};

				partition@f8c0000 {
					label = "vendor";
					reg = <0xf8c0000 0x6c0000>;
				};

				partition@ff80000 {
					label = "res";
					reg = <0xff80000 0x80000>;
				};
			};
		};
	};
	ssx0@1E000000 {
		/delete-node/ mps@1107000;
	};
};

&cooling_maps {
	map0 {
		trip = <&cpu_alert0>;
		cooling-device = <&cpu0 3 3>;
	};
};

&cpu1 {
	default-OS = "LINUX";
};

&pcie0 {
	reset-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
};

&pcie1 {
	reset-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
};

&pcie2 {
	reset-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
};

&ssc1 {
	status="disabled";
	/delete-property/ pinctrl-0;
};

&ssogpio {
	status = "disabled";
};

&ssoled {
	status = "disabled";
};

&i2c {
	status = "disabled";
	/delete-property/ pinctrl-0;
};

&pinctrl {
	/delete-node/ vcodec;
	/delete-node/ tdm;
	/delete-node/ spi1;
	/delete-node/ i2c0;
	/delete-node/ spi1_cs0;
};

&eth {
	/delete-node/ interface@0;
};

&dect0 {
	status = "disabled";
	/delete-property/ gpio-reset;
	/delete-property/ gpio-int;
};

&dect_page0 {
	status = "disabled";
	/delete-property/ lantiq,pagepin;
};

&ssc0 {
	/delete-node/ vcodec@5;
};
