/dts-v1/;

#include "mt7621.dtsi"
#include <dt-bindings/input/input.h>

/ {
	compatible = "mediatek,mt7621-rfb-ax-nmbm", "mediatek,mt7621-soc";
	model = "MediaTek MT7621 RFB (802.11ax, NAND with NMBM)";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <20>;

		reset {
			label = "reset";
			gpios = <&gpio0 18 1>;
			linux,code = <KEY_RESTART>;
		};
	};

	nmbm {
		compatible = "generic,nmbm";

		#address-cells = <1>;
		#size-cells = <1>;

		lower-mtd-device = <&nandflash>;
		forced-create;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "Bootloader";
				reg = <0x00000 0xe0000>;
				read-only;
			};

			partition@E0000 {
				label = "nvram";
				reg = <0xE0000 0x100000>;
			};

			partition@1E00000 {
				label = "Factory";
				reg = <0x1E0000 0x100000>;
			};

			partition@2E0000  {
				label = "Factory2";
				reg = <0x2E0000 0x100000>;
			};

			partition@3E0000 {
				label = "Kernel";
				reg = <0x3E0000 0x3200000>;
			};

			partition@35E0000 {
				label = "Kernel2";
				reg = <0x35E0000 0x3200000>;
			};

			partition@67E0000 {
				label = "jffs2";
				reg = <0x67E0000 0x1020000>;
			};
		};
	};
};

&bch {
	status = "okay";
};

&eth {
        status = "okay";

        gmac0: mac@0 {
                compatible = "mediatek,eth-mac";
                reg = <0>;
                phy-mode = "trgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                        pause;
                };
        };

        gmac1: mac@1 {
                compatible = "mediatek,eth-mac";
                reg = <1>;
                phy-mode = "rgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                        pause;
                };
        };

        mdio: mdio-bus {
                #address-cells = <1>;
                #size-cells = <0>;

                phy1f: ethernet-phy@1f {
                        reg = <0x1f>;
                        phy-mode = "rgmii";
                };
        };
};

&gsw {
        mediatek,mdio = <&mdio>;
        mediatek,portmap = "llllw";
        mediatek,mcm;
	mt7530,direct-phy-access;

        resets = <&rstctrl 2>;
        reset-names = "mcm";

        port5: port@5 {
                compatible = "mediatek,mt753x-port";
                reg = <5>;
                phy-mode = "rgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                };
        };

        port6: port@6 {
                compatible = "mediatek,mt753x-port";
                reg = <6>;
                phy-mode = "trgmii";
                fixed-link {
                        speed = <1000>;
                        full-duplex;
                };
        };

        mdio-bus {
                #address-cells = <1>;
                #size-cells = <0>;
        };
};

&hnat {
        mtketh-wan = "eth1";
        mtketh-ppd = "vlan1";
        ext-devices = "rai0", "ra0", "rai1", "ra1", "rai2", "ra2", "rai3", "ra3", "apclii0", "apcli0";
        mtketh-max-gmac = <2>;
        status = "okay";
};

&nand {
	status = "okay";

	nandflash: flash@0 {
		reg = <0>;
		nand-ecc-mode = "hw";
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
		};
	};
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			mtk,group = "i2c";
			mtk,function = "gpio";
		};

		uart2 {
			mtk,group = "uart2";
			mtk,function = "gpio";
		};

		uart3 {
			mtk,group = "uart3";
			mtk,function = "gpio";
		};

		jtag {
			mtk,group = "jtag";
			mtk,function = "gpio";
		};

		wdt {
			mtk,group = "wdt";
			mtk,function = "gpio";
		};
	};
};

&uartfull1 {
	status = "okay";
};

&uartfull2 {
	status = "okay";
};

&pcie {
	status = "okay";
};

&u3phy1 {
	status = "okay";
};

&xhci {
	status = "okay";
};
