#
# Datapath Lib
#
menuconfig INTEL_DATAPATH
	bool "Datapath Manager/Core/LIB"
	default y
	depends on LTQ_CBM || INTEL_CBM
	---help---
	  Datapath Lib is to provide common rx/tx wrapper Lib without taking
	  care of much HW knowledge and also provide common interface for legacy
	  devices and different HW like to CBM or LRO.
	  Take note: All devices need to register to datapath Lib first

if INTEL_DATAPATH

config INTEL_DATAPATH_PARTIAL_FEEDS
	bool "Datapath in partial feeds"
	default y
	depends on PRX300_CQM || LGM_CQM
	---help---
	  Support dpm out of kernel tree but not fully sine some driver still 
	  calling dpm api which is built in kernel

config INTEL_DATAPATH_ACA_CSUM_WORKAROUND
	bool "ACA Checksum Workaround"
	depends on GRX500_CBM && INTEL_DATAPATH
	---help---
	  It is to solve system bus hang hang issue in GRX500
	  Once there is SW-UMT, there is no need to enable it
	  in Facon-MX and later SOC, HW bug is fixed already
	  So it should be disabled

config INTEL_DATAPATH_MANUAL_PARSE
	bool "Datapath manual parse network protocol"
	depends on GRX500_CBM && INTEL_DATAPATH
	default y
	---help---
	  Manual parse network protocol for tcp offloading
	  Only support limited tunnel yet
	  later need to enhance to support other tunnels
	  Also need to study to use network stack information

config INTEL_DATAPATH_COPY_LINEAR_BUF_ONLY
	bool "Datapath Copy linear buffer only for skb"
	depends on GRX500_CBM && INTEL_DATAPATH
	---help---
	  Datapath Copy linear buffer only for skb if need to alloc new buffer.
	  For TSO/GSO case, it will not consider
	  Make sure TSO/GSO always with enough header room to insert pmac header
	  need to enhance in the future

config INTEL_DATAPATH_DBG
	bool "Datapath Debug Tool"
	default y
	depends on INTEL_DATAPATH
	---help---
	  Datapath Debug Tool is used to provide simple debug tool
	  All other debug tools is based on it
	  Once it is disabled, all other datapath debug tool disabled.
	  By default had better enable it

config INTEL_DATAPATH_DBG_PROTOCOL_PARSE
	bool "Datapath Debug Tool for hw checksum's protocol parsing"
	depends on INTEL_DATAPATH_DBG
	---help---
	  Datapath Debug Tool for hw checksum's protocol parsing
	  Only for debugging purpose
	  By default it should be disabled.

config INTEL_DATAPATH_EXTRA_DEBUG
	bool "extra debugging support"
	depends on  INTEL_DATAPATH_DBG
	---help---
	  This is to enable/disable extra strict debugging support.
	  This is useful during initial system bring up
	  It will affect performance
	  By default it should be disabled.

config INTEL_DATAPATH_SKB
	bool "Datapath Skb Hack"
	depends on GRX500_CBM && INTEL_DATAPATH
	---help---
	  For Ethernet OAM and MPE FW purpose testing purpose,
	  It needs to hack SKB

config INTEL_DATAPATH_ETH_OAM
	bool "ETH OAM SUPPORT"
	depends on GRX500_CBM && INTEL_DATAPATH_SKB
	---help---
	  Datapath Ethernet OAM support. Once it is enabled, it will add some fields in skb structure
	  in order to support MPE FAST HOOK. The reason is that some network driver is
	  pre-build out of this build system.
	  The testing code by default is not checked in.

config INTEL_DATAPATH_SWITCHDEV
	bool "Switchdev Support"
	depends on  INTEL_DATAPATH && NET_SWITCHDEV && !GRX500_CBM
	---help---
	  Switchdev support for different switch in datapath

config INTEL_DATAPATH_CPUFREQ
	bool "Datapath DFS(COC) support"
	depends on GRX500_CBM && INTEL_DATAPATH && CPU_FREQ
	---help---
	  It is to support DFS(COC) in Datapath

config INTEL_DATAPATH_MIB
	bool "Datapath MIB support"
	depends on GRX500_CBM && INTEL_DATAPATH
	---help---
	  It is to support MIB counter in Datapath

#
# Datapath Lib
#
config LTQ_DATAPATH
	bool
	default INTEL_DATAPATH

config LTQ_DATAPATH_ACA_CSUM_WORKAROUND
	bool
	default INTEL_DATAPATH_ACA_CSUM_WORKAROUND

config LTQ_DATAPATH_SKB
	bool
	default INTEL_DATAPATH_SKB

config LTQ_DATAPATH_CPUFREQ
	bool
	default INTEL_DATAPATH_CPUFREQ

config INTEL_DATAPATH_HAL_GSWIP31
	bool "Datapath HAL"
	default y
	depends on INTEL_DATAPATH && PRX300_CQM

config INTEL_DATAPATH_QOS_HAL
	bool "Datapath HAL-QOS"
	default y
	depends on PPV4

source "drivers/net/datapath/dpm/gswip30/Kconfig"
endif
